<!DOCTYPE html>
<html ng-app="plea">
<head>
    <title>Lilypad - PLEA</title>

    <!-- For that native webapp experience -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <!-- stylesheets -->

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-mobile.js"></script>

    <!-- modules -->
    <!-- Zepto included for AJAX library, not DOM manipulation. jqLite will still handle that -->
    <script src="/lilypad-client/lilypad-plea/modules/underscore.js"></script>
    <script src="/lilypad-client/lilypad-plea/modules/backbone.js"></script>
    <script src="/lilypad-client/lilypad-plea/modules/backbone-patches.js"></script>
    <script src="/lilypad-client/lilypad-plea/modules/moment.js"></script>
    <script src="/lilypad-client/lilypad-plea/modules/modules.js"></script>

    <!-- app -->
    <script src="/lilypad-client/lilypad-plea/app.js"></script>

    <!-- services -->
    <script src="/lilypad-client/lilypad-plea/services/studentService.js"></script>
    <script src="/lilypad-client/lilypad-plea/services/behaviorIncidentService.js"></script>
    <script src="/lilypad-client/lilypad-plea/services/chartService.js"></script>
    <script src="/lilypad-client/lilypad-plea/services/viewService.js"></script>

    <!-- controllers -->
    <script src="/lilypad-client/lilypad-plea/controllers.js"></script>

    <style type="text/css">
        * {
            box-sizing: border-box;
        }
        a {
            text-decoration: none;
            color: #00f;
        }
        .selected {
            font-weight: bold;
        }
        .frame {
            border: 1px solid;
            margin: 1em 0;
            padding: 1em;
        }
    </style>
</head>
<body ng-controller="BaseController">
    {{user_fullname}} | {{date}}
    <hr>

    <div ng-controller="SidebarController" class="frame">
        <h3>Students:</h3>
        <ul>
            <li ng-repeat="student in students.models" ng-class="{selected: baseViewState.currentStudent === student}">
                <a href="" ng-click="selectStudent(student)">{{student.get('firstName')}}</a>
            </li>
        </ul>
    </div>

    <div ng-switch="baseViewState.currentView">
        <div ng-switch-when="chartMenu" class="frame" ng-controller="ChartsMenu">
            <h3>{{baseViewState.currentStudent.get('firstName')}}'s Charts</h3>
            <ul>
                <li>
                    <a href="" ng-click="showBehaviorChart()">Behavior Scatterplot</a>
                </li>
                <li ng-repeat="chart in charts.models">
                    <a href="" ng-click="showPerformanceChart(chart)">{{chart.get('subtopic').get('name')}}: {{chart.get('inputChannel').get('name')}}/{{chart.get('outputChannel').get('name')}}</a>
                </li>
            </ul>
            
        </div>
        <div ng-switch-when="behaviorChart" ng-controller="ScatterplotController" class="frame">
            <h3>Behaviors:</h3>
            <ul>
                <li ng-repeat="type in types.models">
                    <button ng-click="createIncident(type)">{{type.get('code')}} | {{type.get('label')}}</button>
                </li>
            </ul>
            <h3>Scatterplot:</h3>
            <ul>
                <li ng-repeat="incident in incidents.models">
                    {{dateFormat(incident.get('occurredAt'))}}: {{incident.get('type').get('code')}}
                </li>
            </ul>
        </div>
        <div ng-switch-when="performanceChart" class="frame">
            Chart!
        </div>
    </div>
</body>
</html>
