/***** Generic Styles *****/

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
}

/***** Header Styles *****/

#header {
	height: 50px;
	background: #4ABEA4;
	border-bottom: 1px solid #ccc;
	width: 100%;
	margin: auto;
	padding-right: 30px;
	position: fixed;
	top: 0px;
	z-index: 1000;
}

#header .inner {
	color: white;
	font-size: 24px;
	margin: auto;
	width: 300px;
	text-align: center;
}

#header .logo {
	margin-top: 10px;
	height: 25px;
	width: auto;
	vertical-align: bottom;
}

/***** Sidebar Styles *****/

#sidebar {
	top: 0px;
	position: absolute;
	min-height: 100%;
	width: 200px;
	z-index: -1;
	overflow: hidden;
	padding-top: 50px;
	background-color: #eee;
}

#sidebar a {
	color: #444;
	display: block;
	font-weight: bold;
	padding-left: 20px;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	border-bottom: 1px solid #ccc;
}

#sidebar a span{
	font-weight: lighter;
}

#sidebar .selected {
	color: white;
	background-color: #4ABEA4;
}

/***** Main Panel Styles *****/

#chartSelection {
	top: 0px;
	left: 200px;
	position: absolute;
	min-height: 100%;
	min-width: 70%;
	padding-top: 50px;
}

#chartSelection h2 {
	margin-left: 25px;
	padding-left: 5px;
	display: block;
	font-weight: bold;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
}

#chartSelection li a {
	padding-left: 30px;
	display: block;
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	color: #444;
}

#chartSelection li a:active {
	background-color: #ccc;
	color: white;
}

/***** Celeration Chart Styles *****/

#adjustments {
  	display: none;
  	z-index: 1;
  	background: rgba(242,242,242,.8);
  	position: absolute;
  	right: 0px;
  	width: 200px;
  	top: 0;
  	height: 100%;
  	border-left: 1px solid #CCC;
}