<!DOCTYPE html>
<html ng-app="plea">
<head>
    <title>Lilypad - PLEA</title>

    <!-- For that native webapp experience -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <!-- simple skeleton styling -->
    <style type="text/css">
        * {
            box-sizing: border-box;
        }
        a {
            text-decoration: none;
            color: #00f;
        }
        .selected {
            font-weight: bold;
        }
        .frame {
            border: 1px solid;
            margin: 1em 0;
            padding: 1em;
        }
    </style>

    <!-- angular -->
    <script src="/lilypad-client/lilypad-plea/app/lib/angular-1.2.0-rc.2.js"></script>

    <!-- third party modules -->
    <!-- first import the libraries -->
    <script src="/lilypad-client/lilypad-plea/app/lib/underscore.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/lib/backbone.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/lib/moment.js"></script>
    <!-- now declare the modules to wrap them -->
    <script src="/lilypad-client/lilypad-plea/app/lib/modules.js"></script>

    <!-- main module declaration -->
    <script src="/lilypad-client/lilypad-plea/app/main/module.js"></script>

    <!-- student-related files -->
    <script src="/lilypad-client/lilypad-plea/app/students/models.js"></script>

    <!-- behavior-related files -->
    <script src="/lilypad-client/lilypad-plea/app/behaviors/models.js"></script>

    <!-- chart-related files -->
    <script src="/lilypad-client/lilypad-plea/app/charts/models.js"></script>

    <!-- controllers and related services -->
    <script src="/lilypad-client/lilypad-plea/app/main/services/mainViewState.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/main/controllers/mainCtrl.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/main/controllers/studentSelectionCtrl.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/main/controllers/chartSelectionCtrl.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/main/controllers/chartCtrl.js"></script>
</head>
<body ng-controller="MainCtrl">
    <!-- "Sidebar" showing a list of students -->
    <div id="sidebar" ng-controller="StudentSelectionCtrl" class="frame">
        <h1>Students (Total: {{studentCount}})</h1>
        <ul>
            <li ng-repeat="student in studentCollection.models">
                <a href="" ng-click="selectStudent(student)" ng-class="{selected: student==mainViewState.selectedStudent}">{{student.get('firstName')}}</a>
            </li>
        </ul>
    </div>

    <!-- Main panel" where either a list of student's charts or a single chart will be displayed -->
    <div id="mainPanel" class="frame">
        <!-- Chart selection list -->
        <div id="chartSelection"
             ng-if="mainViewState.selectedStudent && !mainViewState.selectedChart"
             ng-controller="ChartSelectionCtrl">
            <h2>{{mainViewState.selectedStudent.get('firstName')}}'s Charts</h2>
            <li ng-repeat="chart in chartCollection.models">
                <a href="" ng-click="selectChart(chart)">{{chart.getLabel()}}</a>
            </li>
        </div>

        <!-- Chart detail (after chart is selected) -->
        <div id="chart"
            ng-if="mainViewState.selectedChart"
            ng-controller="ChartCtrl">
            <h3>{{chart.getLabel()}}</h3>
            <h4>Day Metrics</h4>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="metric in dayMetricCollection.models">
                        <td>{{metric.get('date')}}</td>
                        <td>{{metric.get('type')}}</td>
                        <td>{{metric.get('value')}}</td>
                    </tr>
                </tbody>
            </table>
            <h4>Phase Lines</h4>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="phaseLine in phaseLineCollection.models">
                        <td>{{phaseLine.get('date')}}</td>
                        <td>{{phaseLine.get('title')}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>


<!--
    Obsolete template fragments: porting them over to skeleton.

    <div ng-controller="SidebarController" class="frame">
        <h3>Students:</h3>
        <ul>
            <li ng-repeat="student in students.models" ng-class="{selected: baseViewState.currentStudent === student}">
                <a href="" ng-click="selectStudent(student)">{{student.get('firstName')}}</a>
            </li>
        </ul>
    </div>

    <div ng-switch="baseViewState.currentView">
        <div ng-switch-when="chartMenu" class="frame" ng-controller="ChartsMenu">
            <h3>{{baseViewState.currentStudent.get('firstName')}}'s Charts</h3>
            <ul>
                <li>
                    <a href="" ng-click="showBehaviorChart()">Behavior Scatterplot</a>
                </li>
                <li ng-repeat="chart in charts.models">
                    <a href="" ng-click="showPerformanceChart(chart)">{{chart.get('subtopic').get('name')}}: {{chart.get('inputChannel').get('name')}}/{{chart.get('outputChannel').get('name')}}</a>
                </li>
            </ul>

        </div>
        <div ng-switch-when="behaviorChart" ng-controller="ScatterplotController" class="frame">
            <h3>Behaviors:</h3>
            <ul>
                <li ng-repeat="type in types.models">
                    <button ng-click="createIncident(type)">{{type.get('code')}} | {{type.get('label')}}</button>
                </li>
            </ul>
            <h3>Scatterplot:</h3>
            <ul>
                <li ng-repeat="incident in incidents.models">
                    {{dateFormat(incident.get('occurredAt'))}}: {{incident.get('type').get('code')}}
                </li>
            </ul>
        </div>
        <div ng-switch-when="performanceChart" class="frame">
            Chart!
        </div>
    </div>
-->
