<!DOCTYPE html>
<html ng-app="plea">
<head>
    <title>Lilypad - PLEA</title>

    <!-- For that native webapp experience -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <!-- simple skeleton styling -->
    <style type="text/css">
        * {
            box-sizing: border-box;
        }
        a {
            text-decoration: none;
            color: #00f;
        }
        .selected {
            font-weight: bold;
        }
        .frame {
            border: 1px solid;
            margin: 1em 0;
            padding: 1em;
        }
        td {
            text-align: right;
        }
    </style>

    <!-- angular -->
    <script src="/lilypad-client/lilypad-plea/app/lib/angular-1.2.0-rc.2.js"></script>

    <!-- third party modules -->
    <!-- first import the libraries -->
    <script src="/lilypad-client/lilypad-plea/app/lib/underscore.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/lib/backbone.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/lib/moment.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/lib/raphael-min.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/lib/hammer.min.js"></script>
    <!-- now declare the modules to wrap them -->
    <script src="/lilypad-client/lilypad-plea/app/lib/modules.js"></script>


    <!-- main module declaration -->
    <script src="/lilypad-client/lilypad-plea/app/main/module.js"></script>

    <!-- if developing with no back end, uncomment these two lines and comment out the one above -->
    <!--
    <script src="/lilypad-client/lilypad-plea/app/lib/angular-mocks.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/main/moduleNoBackend.js"></script>
    -->

    <!-- student-related files -->
    <script src="/lilypad-client/lilypad-plea/app/students/models.js"></script>

    <!-- behavior-related files -->
    <script src="/lilypad-client/lilypad-plea/app/behaviors/models.js"></script>

    <!-- chart-related files -->
    <script src="/lilypad-client/lilypad-plea/app/charts/models.js"></script>

    <!-- controllers and related services -->
    <script src="/lilypad-client/lilypad-plea/app/main/services/mainViewState.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/main/controllers/mainCtrl.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/main/controllers/studentSelectionCtrl.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/main/controllers/chartSelectionCtrl.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/main/controllers/metric.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/main/controllers/chartCtrl.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/main/controllers/behaviorCtrl.js"></script>
    <script src="/lilypad-client/lilypad-plea/app/main/filters.js"></script>

</head>
<body ng-controller="MainCtrl">
    <!-- "Sidebar" showing a list of students -->
    <div id="sidebar" ng-controller="StudentSelectionCtrl" class="frame">
        <h1>Students (Total: {{studentCount}})</h1>
        <ul>
            <li ng-repeat="student in studentCollection.models">
                <a href="" ng-click="selectStudent(student)" ng-class="{selected: student==mainViewState.selectedStudent}">{{student.get('firstName')}}</a>
            </li>
        </ul>
    </div>

    <!-- Main panel" where either a list of student's charts or a single chart will be displayed -->
    <div id="mainPanel" class="frame">
        <!-- Chart selection list -->
        <div id="chartSelection"
             ng-if="mainViewState.selectedStudent && !mainViewState.selectedChart"
             ng-controller="ChartSelectionCtrl">
            <h2>{{mainViewState.selectedStudent.get('firstName')}}'s Charts</h2>
            <!-- Always list the scattplot, then cycle through other charts -->
            <ul>
                <li><a href="" ng-click="selectScatterplot()">Behavior Scatterplot</a></li>
                <li ng-repeat="chart in chartCollection.models">
                    <a href="" ng-click="selectChart(chart)">{{chart.getLabel()}}</a>
                </li>
            </ul>
        </div>

        <!-- Chart detail (after chart is selected) -->
        <div id="chart"
            ng-if="mainViewState.selectedChart"
            ng-controller="ChartCtrl">
            <h3>{{chart.getLabel()}}</h3>
            <h4>Day Metrics</h4>
            <div id="draw" ng-show="dailyRecords.length">
            </div>
            <!-- If there is Celleration chart data, show a table of it -->
            <!--<table ng-show="dailyRecords.length">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Floor</th>
                        <th>Corrects</th>
                        <th>Errors</th>
                        <th>Trials</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in dailyRecords">
                        <td>{{record.date | formatDate:'l'}} </td>
                        <td>{{record.floor}}</td>
                        <td>{{record.corrects}}</td>
                        <td>{{record.errors}}</td>
                        <td>{{record.trials}}</td>
                    </tr>
                </tbody>
            </table>-->
            <!-- If there is no chart data, print this message -->
            <div ng-show="!dailyRecords.length">No metrics found.</div>

            <!-- Show a table of phase line data, or a message if there are no entries -->
            <h4>Phase Lines</h4>
            <table ng-show="phaseLineCollection.models.length">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="phaseLine in phaseLineCollection.models">
                        <td>{{phaseLine.get('date') | formatDate:'l' }}</td>
                        <td>{{phaseLine.get('title')}}</td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="!phaseLineCollection.models.length">No phase lines found.</div>
        </div>

        <!-- Scatterplot detail (shown when scatterplot is selected) -->
        <div id="scatterplot"
            ng-if="mainViewState.isScatterplotSelected"
            ng-controller="BehaviorCtrl">
            <h3>Behavior Scatterplot</h3>

            <!-- First list the active types for the student -->
            <h4>Active Types</h4>
            <ul>
                <li ng-repeat="type in activeTypes">{{type.get('label')}} ({{type.get('code')}})</li>
            </ul>

            <!-- Show a table of incidents for the selected student, or a message if there are none -->
            <h4>Incidents</h4>
            <table ng-show="incidentCollection.length">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="incident in incidentCollection.models">
                        <td>{{incident.get('occurredAt') | formatDate:'lll' }}</td>
                        <td>{{incident.get('type').get('code')}}</td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="!incidentCollection.length">No incidents found.</div>
        </div>
    </div>

    <script type=""
</body>
</html>
